html, body {
	height: 100%;
	margin: 0;
	padding: 0;
	font-family: 'Lato', sans-serif;
}

p {
	margin: 0;
	font-size: 1.2em;
}

/*     Header Styles     */
h1, 
h3 {
	color: #fff;
	margin: 0;
}

h1 {
	font-family: 'Montserrat', sans-serif;
	font-size: 4em;
	padding: 10px;
}

h2 {
	color: #7A309C;
	font-size: 3em;
	margin: 0;
	font-family: 'Montserrat', sans-serif;
}

h3 {
	font-size: 1.5em;
}

h4 {
	font-size: 1.3em;
	color: #7A309C;
	margin: 0;
	text-transform: uppercase;
}


/*     Navigation Styles     */
nav {
	z-index: 10;
	background-color: #5bc0de;
	font-family: 'Montserrat', sans-serif;
	font-size: 1.2em;
}

.navbar {
	background-color: #5bc0de;
	border-bottom: 5px solid #3FA6C4;
	margin-bottom: 0;
}

.navbar-default .navbar-brand {
    color: #fff;
    font-size: 1.5em;
    margin: 5px 0;
}

.navbar-default .navbar-brand:hover {
    color: #7A309C;
}

.navbar-default .navbar-nav>.active>a {
	background-color: #5bc0de;
	color: #fff;
}

.navbar-default .navbar-nav>.active>a:focus, 
.navbar-default .navbar-nav>.active>a:hover {
	background-color: #3FA6C4;
	color: #fff;
}

nav .btn-default {
	font-family: 'Lato', sans-serif;
	text-transform: uppercase;
	background-color: #DDE1E5;
	background: linear-gradient(0deg, #DDE1E5, #fff);
	color: #84878A;
	border: 1px solid #BABEC2;
	border-radius: 10px;
	padding: 10px;
}

nav .btn-default:hover {
	background-color: #DDE1E5;
	background: linear-gradient(0deg, #BFC3C7, #DDE1E5);
	color: #6C6E70;
	border: 1px solid #DDE1E5;
}

.navbar-default .navbar-nav>.active>a {
    background-color: #5bc0de;
    padding: 20px;
}


/*     Layout Styles     */
#main-content {
	position: absolute;
	top: 40px;
	z-index: 5;
	width: 100%;
	margin: 0 auto;
	padding: 30px;
	background-color: #7A309C;
	background: linear-gradient(0deg, #62267D, #7A309C);
}

#searchInput {
	margin: 30px 0;
	box-shadow: 0px 0px 30px rgba(0, 0, 0, .2);
}

#searchButton {
	box-shadow: 5px 0px 20px rgba(0, 0, 0, .2);
}

#weatherAPI {
	z-index: 15;
	position: relative;
	width: 20%;
	top: 20px;
	left: 20px;
	background-color: rgba(122, 48, 156, 0.8);
	padding: 20px;
	border-radius: 20px;
	color: #fff;
}
  
/*     Buttons     */
#categories button {
	padding: 20px 0;
	border-radius: 20px;
	font-size: 90%;
	text-transform: uppercase;
	color: #fff;
	width: 100%;
	}

.btn-default {
	background-color: #5bc0de;
    background: linear-gradient(0deg, #3FA6C4, #5bc0de);
    border-color: #84878A;
}

.btn-default:hover {
    background: linear-gradient(0deg, #3488A1, #3FA6C4);
    border-color: #BABEC2;
}

.btn-group {
	width: 100%;
}

.group-btn {
	width: 18%;
	float: left;
	margin: 1%;
}

/*     Map Styles     */
#map {
	height: 50%;
	width: 100%;
	z-index: 1; 
	top: 325px;	
	margin-bottom: 50px;
	padding: 20px 0;
}

.infoWindow {
	font-family: 'Lato', sans-serif;
}

.infoWindow button {
	font-family: 'Lato', sans-serif;
	color: #fff;
	padding: 10px;
	margin-top: 10px;
	border-radius: 10px;
	font-size: 1.2em;
	text-transform: uppercase;
	background-color: #5bc0de;
    border: 1px solid #BABEC2;
}

.infoWindow button:hover {
	background-color: #3FA6C4;
}

/*     Footer     */
.footer {
	background-color: #3488A1;
	text-align: center;
	color: #fff;
	font-size: .8em;
	padding-top: 10px;
	border-top: 10px solid #5bc0de;
}


/*     Profile Page     */
strong {
	font-size: 1.2em;
	color: #7A309C;
}

.jumbotron {
	width: 100%;
	background-color: #7A309C;
	background: linear-gradient(0deg, #62267D, #7A309C);
	color: #fff;
}

.jumbotron img {
	max-width: 200px;
}

.jumbotron h2 {
	color: #fff;

}

.header {
	width: 80%;
	margin: 0 auto;
}

.panel {
	margin-bottom: 20px;
	background-color: rgba(91, 192, 222, .2);
    border: 1px solid transparent;
    border-radius: 10px;
	box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
}

.panel a {
	color: #62267D;
	text-decoration: none;
}

.panel a:hover {
	color: #7A309C;
}

.panel-default {
	margin-top: 15px;
}

.panel-body {
	color: #555;
}

.btn-sm {
	padding: 10px;
	border-radius: 10px;
	font-size: 1em;
	text-transform: uppercase;
	color: #fff;
	margin-top: 15px;
}

/*     Sticky Footer     */
.push,
.footer {
	height: 50px;
}

.wrapper {
	min-height: 25%;
	margin-bottom: -50px;
	margin: 0 auto;
}

.wrapper-profile {
	min-height: 90%;
	margin-bottom: -50px;
	margin: 0 auto;
}

/*     Media Queries     */
@media only screen and (max-width: 835px) and (min-width: 768px) {
	#map {
		top: 300px;	
	}
		#main-content {
		top: 50px;
	}
}

@media only screen and (max-width: 767px) and (min-width: 513px) {
	#map {
		top: 475px;	
	}

	#main-content {
		top: 180px;
	}

	.group-btn {
		width: 48%;
		float: left;
		margin: 1%;
	}

	#weatherAPI {
		width: 30%;
		top: 75px;
		left: 50px;
	}

	.wrapper {
		min-height: 29%;
	}
}

@media (max-width: 512px) {
	#map {
		top: 475px;	
	}

	#main-content {
		top: 175px;
	}

	.group-btn {
		width: 48%;
		float: left;
		margin: 1%;
	}

	#weatherAPI {
		width: 40%;
		top: 10px;
		left: 0;
		width: 100%;
		border-radius: 0;
	}

	.wrapper {
		min-height: 36%;
	}
}
